<div id="title-bar">
  <div id="title-bar-left">
    <h2>Costcodes</h2>
  </div>
  <div id="title-bar-right">
  </div>
</div>
<div id="content">
<table id="list-table">
  <th>Code</th>
  <th>Description</th>
  <% @costcodes.each do |costcode| %>
  <tr>
     <td><%= costcode.code %></td>
     <td><%= costcode.description %></td>
  </tr>
  <% end %>
</table>
<br />
<%= link_to 'Add Costcode', new_costcode_path %><br />
<%= link_to 'Back', jobs_path %>
</div>