<p>
  <%= f.collection_select(:costcode_id, Costcode.all, :id, :code_description, {placeholder: 'Select'}, {:class => "e1"}) %>
  <b>Extra</b>
  <%= f.collection_select(:extra_id, Extra.all, :id, :code_description, {placeholder: 'Select'}, {:class => "e1"}) %>
  <%= f.link_to_remove "Remove Costcode" %>
</p>
