<% 7.times do |f| %>
  <% if @date.beginning_of_week(start_day = :sunday) + f  == @date %>
<span style="color: #8f0800;">
  <%= @date.strftime("%a") %>
</span>
  <% else %>
    <%= link_to (@date.beginning_of_week(start_day = :sunday) + f).strftime("%a"), :day => @date.beginning_of_week(start_day = :sunday) + f %>
  <% end %>
<% end %>
<%= form_tag job_path, :method => :get, :class => 'form-search' do %>
<div class="input-append">
  Start of Week: <%= select_tag :day, options_for_select(@job_weeks.map { |f| [f.first,f.first] }) %>
  <button type="submit" class="btn">Search</button>
</div>
<% end %>
