<div id="title-bar">
  <div id="title-bar-left">
    <h2>Edit Job: <span style="color: #8f0800;"><%= @job.job_num %></span></h2>
  </div>
  <div id="title-bar-right">
    <%= link_to "Back", jobs_path %>
  </div>
</div>

<div id="content">
<%= render 'form' %>
</div>
<p><%= link_to "Back to List", jobs_path %></p>
